<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Logic schools</title>
    <link rel="Stylesheet" type="text/css" href="/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>
<div id="slider"></div>
<div class="wrapper">
    <div class="row">
        <div class="col-xs-12">
            <div class="error error-new-human">
                <div class="box">
                    <h1>Dodaj uzytkownika</h1>
                    <form action="#" method="post" th:action="@{/save}" th:object="${person}" >
                        <div class="col-xs-12">
                        <p>Imie : <input type="text" th:field="*{imie}"/></p>
                        </div>
                        <div class="col-xs-12">
                        <p>Nazwisko : <input type="text" th:field="*{nazwisko}"/></p>
                        </div>
                        <div class="col-xs-12">
                        <p>Data urodzenia : <input type="text" th:field="*{dataUrodzenia}"/></p>
                        </div>
                        <div class="col-xs-12">
                        <p>Data smierci : <input type="text" th:field="*{dataSmierci}"/></p>
                        </div>
                        <div class="col-xs-12">
                        <p>Miejsce urodzenia : <input type="text" th:field="*{miejsceUrodzenia}"/></p>
                        </div>
                        <div class="col-xs-12">
                        <p>Miejsce smierci : <input type="text" th:field="*{miejsceSmierci}"/></p>
                        </div>
                        <div class="col-xs-12">
                        <p>Rok obrony : <input type="number" th:field="*{rok_obrony}"/></p>
                        </div>
                        <div class="col-xs-12">
                        <p>Miejsce obrony : <input type="text" th:field="*{miejsceObrony}"/></p>
                        </div>

                        <input class="button-input" type="submit" value="Wyslij"/>

                        </form>
                    <p><a th:href="@{/wyszukaj}"> Wyszukaj uzytkownika</a></p>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/slider.js}" />
</body>
</html>